/** {
  margin: 0;
  padding: 0;
  height: 100%;
}*/

#launch_container {
  background-color: #419871;
  background-image:linear-gradient(to top right, #419871, #015830);
  box-sizing: border-box;
  font-family: "SC Sans Web", sans-serif;
  font-weight: 200;
  text-align: center;
}

#launch_content a {
  font-size: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height:1;

  color: #fff;
  text-decoration: none;
}

#launch_content {
  position: relative;
  margin: auto 30%;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
  // border-bottom: 1px solid #ccc9c9;
}
