<div class="authenticate-menu">Please authenticate using one of the methods or provide your basic information below</div>
<div class="nav nav-tabs authentication-options">
    <li class="active col-md-4 offset-md-4">
        <div class="aadhar-bg">
        </div>
        <label><a href="#">Aadhar</a></label>
    </li>
    <li class="active col-md-4 offset-md-4 online-tab">
        <div class="online-banking-bg">
        </div>
        <label><a href="#">Online Banking</a></label>
    </li>
    <li class="active col-md-4 offset-md-4">
        <div class="credit-card-bg">
        </div>
        <label><a href="#">Credit Card</a></label>
    </li>
    <li class="active col-md-4 offset-md-4">
        <div class="atm-card-bg">
        </div>
        <label><a href="#">ATM Card</a></label>
    </li>
</div>
