<section class="basicinformation_area">
    <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in leftMenu">
            <a href="#" ng-click="changeTheStage($event,item.page_id)" ng-class="{'selected-current': leftMenuCurrentStage === item.page_id,
                                  'selected-completed': checkCompleted(item.page_id),
                                  'selected-disabled': checkDisabled(item.page_id)}">
                <label>{{item.title}} </label></a>
        </li>
    </ul>
</section>
