<span>
  <span class="seperator"></span>
  <input id="date-{{id}}" class="dateInputBox date"
         ng-focus="onElementFocus($event)"
         ng-blur="onElementBlur($event)"
         ng-keyup="onElementKeyUp($event)"
         type="tel" name="day" maxlength="2" size="2" placeholder="dd"
         ng-disabled="disableDob" pattern="\d{2}"
         ng-model="date1"/>
  <span class="seperator"></span>
  <input id="month-{{id}}" class="dateInputBox month"
         ng-focus="onElementFocus($event)"
         ng-blur="onElementBlur($event)"
         ng-keyup="onElementKeyUp($event)"
         type="tel" name="month" maxlength="2" size="2" placeholder="mm"
         ng-disabled="disableDob" pattern="\d{2}"
         ng-model="month"/>
  <span class="seperator"></span>
  <input id="year-{{id}}" class="dateInputBox year"
         ng-focus="onElementFocus($event)"
         ng-blur="onElementBlur($event)"
         ng-keyup="onElementKeyUp($event)"
         type="tel" name="year" maxlength="4" size="4" placeholder="yyyy"
         ng-disabled="disableDob" pattern="\d{4}"
         ng-model="year"/>
  <span class="seperator"></span>
</span>
