<div class="wrapper">
<div class="row error">
  <div class="row title"><h2>Whoops</h2></div>
  <div class="row description">Server error....</div>
</div>
<div id="error-details" class ="row error-details">
  <div class="row error-content">
    <div class="row error-heading"><div class="error-icon"></div>Connectivity issue</div>
    <div class="row error-description">There were some connectivity issue. Please try again.</div>
  </div>
  <div class="row">
     <div class="error-button generic-error">
      <button class="retry" id="btn-try-again" ng-click='__retrySubmission()'>TRY AGAIN</button>
    </div>
  </div>
</div>

</div>
