/*doc
---
title: Thumbnail
name: 000-qrk-004-thumbnail
category: Quarks - Images - Thumbnail
---

Application thumbnail.

```html_example

<div class="thumbnail">
  <img src="http://placehold.it/64x64">
</div>

```

*/
