.icon {
    display: block;
    width: 3vh;
    height: 3vh;
    background-size: 3vh;
    position:absolute;
    bottom: 3vw;
    left:44vw;
}

.icon-info{
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M9.5%200C4.253%200%200%204.253%200%209.5S4.253%2019%209.5%2019%2019%2014.747%2019%209.5%2014.747%200%209.5%200zm0%2018C4.813%2018%201%2014.187%201%209.5%201%204.813%204.813%201%209.5%201%2014.187%201%2018%204.813%2018%209.5c0%204.687-3.813%208.5-8.5%208.5z%22%2F%3E%3Cpath%20d%3D%22M9%205h1v2H9zM9%208h1v5H9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');

}